.about {
  padding: 2.5rem 0;
}
@media screen and (min-width: 991.98px) {
  .about {
    padding: 130px 0px 108px 0px;
  }
}
.about p {
  padding: 1.25rem 0;
  margin: 0;
}
@media screen and (min-width: 560px) {
  .about p {
    padding: 1.75rem 0 2.625rem 0;
  }
}
@media screen and (min-width: 991.98px) {
  .about p {
    padding: 2.375rem 0 3.25rem 0;
  }
}
.about__content {
  padding: 0;
}
@media screen and (min-width: 991.98px) {
  .about__content {
    padding: 0 4.125rem;
  }
}
.about__content-image-block {
  position: relative;
  max-width: 100%;
  padding-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 991.98px) {
  .about__content-image-block {
    padding-top: 23px;
  }
}
.about__content-image-block img {
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.about__content-image-block .img-1 {
  position: relative;
  z-index: 1;
  width: 60%;
}
.about__content-image-block .img-2 {
  position: absolute;
  z-index: 2;
  bottom: 170px;
  right: 0;
  width: 60%;
}