.categories {
  padding: 2.5rem 0;
}
@media screen and (min-width: 991.98px) {
  .categories {
    padding: 4.875rem 0rem 4.4375rem 0rem;
  }
}
.categories .text-span {
  font-size: 0.875rem;
  letter-spacing: 5px;
  margin-bottom: 22px;
}
.categories .shape-top {
  position: absolute;
  right: 86px;
  top: 28px;
  width: 10%;
  -webkit-animation: chaoticMove 10s infinite alternate ease-in-out;
          animation: chaoticMove 10s infinite alternate ease-in-out;
}
@media screen and (min-width: 600px) {
  .categories .shape-top {
    top: 92px;
    width: 10%;
  }
}
@media screen and (min-width: 1400px) {
  .categories .shape-top {
    top: 160px;
  }
}
.categories .shape-bottom {
  position: absolute;
  bottom: 28px;
  left: 70px;
  width: 10%;
  -webkit-animation: chaoticMove 10s infinite alternate ease-in-out;
          animation: chaoticMove 10s infinite alternate ease-in-out;
}
@media screen and (min-width: 600px) {
  .categories .shape-bottom {
    bottom: 92px;
    width: 10%;
  }
}
@media screen and (min-width: 1400px) {
  .categories .shape-bottom {
    bottom: 168px;
  }
}
.categories .swiper-container-category {
  margin: 0;
  padding: 30px 0 85px 0;
}
@media screen and (min-width: 600px) {
  .categories .swiper-container-category {
    margin: 0 68px;
  }
}
@media screen and (min-width: 991.98px) {
  .categories .swiper-container-category {
    padding: 68px 0 140px 0;
  }
}
.categories__item {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.categories__item img {
  width: 100%;
}
.categories__item h5 {
  font-size: 0.875rem;
  font-family: "Felix Titling";
}
@media screen and (min-width: 768px) {
  .categories__item h5 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1400px) {
  .categories__item h5 {
    font-size: 1.5rem;
  }
}
.categories__item__content {
  position: absolute;
  bottom: -55px;
  background: #ffffff;
  padding: 20px;
  width: 82%;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: auto;
  overflow: hidden;
  -webkit-transition: max-height 0.8s linear;
  transition: max-height 0.8s linear;
}
@media screen and (min-width: 1199.98px) {
  .categories__item__content {
    position: absolute;
    max-height: 87px;
  }
}
@media screen and (min-width: 1400px) {
  .categories__item__content {
    padding: 38px 38px 38px 31px;
  }
}
.categories__item__content p {
  font-size: 0.875rem;
  padding-block: 1.125rem;
}
@media screen and (min-width: 768px) {
  .categories__item__content p {
    font-size: 1rem;
    padding-block: 1.25rem;
  }
}
@media screen and (min-width: 1400px) {
  .categories__item__content p {
    font-size: 1.25rem;
    padding-block: 1.75rem;
  }
}
.categories__item:hover .categories__item__content {
  -webkit-transition: max-height 2s;
  transition: max-height 2s;
  max-height: 100%;
}

@media screen and (max-width: 1199.98px) {
  .swiper-pagination .swiper-button-prev3 {
    top: 40%;
    left: -85px;
    position: absolute;
    z-index: 1;
  }
}
@media screen and (max-width: 1199.98px) and (min-width: 768px) {
  .swiper-pagination .swiper-button-prev3 {
    height: 38px;
    width: 50px;
    left: 0px;
  }
}
@media screen and (max-width: 1199.98px) and (min-width: 1450px) {
  .swiper-pagination .swiper-button-prev3 {
    height: 38px;
    width: 85px;
    left: auto;
    left: -85px;
  }
}
@media screen and (max-width: 1199.98px) {
  .swiper-pagination .swiper-button-prev3:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 38px;
    background-image: url(../../icons/arrow-left.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }
}
@media screen and (max-width: 1199.98px) and (min-width: 1450px) {
  .swiper-pagination .swiper-button-prev3:after {
    width: 100%;
  }
}
@media screen and (max-width: 1199.98px) {
  .swiper-pagination .swiper-button-next3 {
    top: 40%;
    right: -85px;
    position: absolute;
    z-index: 1;
  }
}
@media screen and (max-width: 1199.98px) and (min-width: 768px) {
  .swiper-pagination .swiper-button-next3 {
    height: 38px;
    width: 50px;
    right: 0px;
  }
}
@media screen and (max-width: 1199.98px) and (min-width: 1450px) {
  .swiper-pagination .swiper-button-next3 {
    height: 38px;
    width: 85px;
    right: auto;
    right: -85px;
  }
}
@media screen and (max-width: 1199.98px) {
  .swiper-pagination .swiper-button-next3:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 38px;
    background-image: url(../../icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }
}
@media screen and (max-width: 1199.98px) and (min-width: 1450px) {
  .swiper-pagination .swiper-button-next3:after {
    width: 100%;
  }
}
@-webkit-keyframes chaoticMove {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(50%, 30%);
            transform: translate(50%, 30%);
  }
  40% {
    -webkit-transform: translate(-30%, 60%);
            transform: translate(-30%, 60%);
  }
  60% {
    -webkit-transform: translate(20%, -50%);
            transform: translate(20%, -50%);
  }
  80% {
    -webkit-transform: translate(-60%, -30%);
            transform: translate(-60%, -30%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes chaoticMove {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(50%, 30%);
            transform: translate(50%, 30%);
  }
  40% {
    -webkit-transform: translate(-30%, 60%);
            transform: translate(-30%, 60%);
  }
  60% {
    -webkit-transform: translate(20%, -50%);
            transform: translate(20%, -50%);
  }
  80% {
    -webkit-transform: translate(-60%, -30%);
            transform: translate(-60%, -30%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}