.home-banner-itemContent {
  width: 100%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}
@media screen and (max-width: 1600px) {
  .home-banner-itemContent {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}
.home-banner-itemContent .href-link {
  margin: 10px auto;
}
@media screen and (min-width: 500px) {
  .home-banner-itemContent .href-link {
    margin: 55px auto 0px auto;
  }
}
.home-banner-itemContent h1 {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "Felix Titling";
  line-height: 1.5625;
}
@media screen and (min-width: 400px) {
  .home-banner-itemContent h1 {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 600px) {
  .home-banner-itemContent h1 {
    font-size: 1.75rem;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1200px) {
  .home-banner-itemContent h1 {
    font-size: 3rem;
    line-height: 1.5;
  }
}
.home-banner-itemContent button {
  margin: 55px auto 0px auto;
  padding: 1.125rem 1.8125rem 1.125rem 1.8125rem;
  font-weight: 500;
}
.home-banner-item img {
  width: 100%;
}
.home-banner-overlay {
  content: "";
  position: absolute;
  background: linear-gradient(181.28deg, #000000 -28%, rgba(102, 102, 102, 0) 100%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.home-banner .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-banner .swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 10px;
  z-index: 1;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
@media screen and (min-width: 568px) {
  .home-banner .swiper-pagination-bullets {
    bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .home-banner .swiper-pagination-bullets {
    bottom: 60px;
  }
}
@media screen and (min-width: 1400px) {
  .home-banner .swiper-pagination-bullets {
    bottom: 80px;
  }
}
.home-banner .swiper-pagination-bullets .swiper-pagination-bullet {
  height: 11px;
  width: 11px;
  background-color: rgba(255, 255, 255, 0.3);
  display: block;
  border-radius: 50%;
  margin: 0 6px;
  cursor: pointer;
}
.home-banner .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  position: relative;
  background-color: #ffffff;
}

.gallery {
  padding: 2.5rem 0;
}
@media screen and (min-width: 991.98px) {
  .gallery {
    padding: 4.625rem 0 8.875rem 0;
  }
}
.gallery .nav {
  margin-block: 1.875rem;
}
@media screen and (min-width: 992px) {
  .gallery .nav {
    margin-block: 3.5rem;
  }
}
.gallery .nav button {
  font-size: 0.875rem;
  color: #ffffff;
}
.gallery .nav button.nav-link {
  position: relative;
  border: none;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.gallery .nav button.nav-link.active, .gallery .nav button.nav-link:focus, .gallery .nav button.nav-link:hover {
  background: none;
  border: none;
  color: #ffffff;
}
.gallery .nav button.nav-link.active::before {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: #0EE3C4;
}
@media screen and (min-width: 767.98px) {
  .gallery .nav button.nav-link.active::before {
    bottom: -12px;
  }
}

.magnific-img img {
  width: 100%;
  height: auto;
}

a.image-popup-vertical-fit {
  cursor: -webkit-zoom-in;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.98;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-arrow-left:before {
  border-right: none !important;
}

.mfp-arrow-right:before {
  border-left: none !important;
}

button.mfp-arrow,
.mfp-counter {
  opacity: 0 !important;
  -webkit-transition: opacity 200ms ease-in, opacity 2000ms ease-out;
  transition: opacity 200ms ease-in, opacity 2000ms ease-out;
}

.mfp-container:hover button.mfp-arrow,
.mfp-container:hover .mfp-counter {
  opacity: 1 !important;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mfp-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
          box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
.about {
  padding: 2.5rem 0;
}
@media screen and (min-width: 991.98px) {
  .about {
    padding: 130px 0px 108px 0px;
  }
}
.about p {
  padding: 1.25rem 0;
  margin: 0;
}
@media screen and (min-width: 560px) {
  .about p {
    padding: 1.75rem 0 2.625rem 0;
  }
}
@media screen and (min-width: 991.98px) {
  .about p {
    padding: 2.375rem 0 3.25rem 0;
  }
}
.about__content {
  padding: 0;
}
@media screen and (min-width: 991.98px) {
  .about__content {
    padding: 0 4.125rem;
  }
}
.about__content-image-block {
  position: relative;
  max-width: 100%;
  padding-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 991.98px) {
  .about__content-image-block {
    padding-top: 23px;
  }
}
.about__content-image-block img {
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}
.about__content-image-block .img-1 {
  position: relative;
  z-index: 1;
  width: 60%;
}
.about__content-image-block .img-2 {
  position: absolute;
  z-index: 2;
  bottom: 170px;
  right: 0;
  width: 60%;
}

.categories {
  padding: 2.5rem 0;
}
@media screen and (min-width: 991.98px) {
  .categories {
    padding: 4.875rem 0rem 4.4375rem 0rem;
  }
}
.categories .text-span {
  font-size: 0.875rem;
  letter-spacing: 5px;
  margin-bottom: 22px;
}
.categories .shape-top {
  position: absolute;
  right: 86px;
  top: 28px;
  width: 10%;
  -webkit-animation: chaoticMove 10s infinite alternate ease-in-out;
          animation: chaoticMove 10s infinite alternate ease-in-out;
}
@media screen and (min-width: 600px) {
  .categories .shape-top {
    top: 92px;
    width: 10%;
  }
}
@media screen and (min-width: 1400px) {
  .categories .shape-top {
    top: 160px;
  }
}
.categories .shape-bottom {
  position: absolute;
  bottom: 28px;
  left: 70px;
  width: 10%;
  -webkit-animation: chaoticMove 10s infinite alternate ease-in-out;
          animation: chaoticMove 10s infinite alternate ease-in-out;
}
@media screen and (min-width: 600px) {
  .categories .shape-bottom {
    bottom: 92px;
    width: 10%;
  }
}
@media screen and (min-width: 1400px) {
  .categories .shape-bottom {
    bottom: 168px;
  }
}
.categories .swiper-container-category {
  margin: 0;
  padding: 30px 0 85px 0;
}
@media screen and (min-width: 600px) {
  .categories .swiper-container-category {
    margin: 0 68px;
  }
}
@media screen and (min-width: 991.98px) {
  .categories .swiper-container-category {
    padding: 68px 0 140px 0;
  }
}
.categories__item {
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.categories__item img {
  width: 100%;
}
.categories__item h5 {
  font-size: 0.875rem;
  font-family: "Felix Titling";
}
@media screen and (min-width: 768px) {
  .categories__item h5 {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1400px) {
  .categories__item h5 {
    font-size: 1.5rem;
  }
}
.categories__item__content {
  position: absolute;
  bottom: -55px;
  background: #ffffff;
  padding: 20px;
  width: 82%;
  margin: 0 auto;
  left: 0;
  right: 0;
  height: auto;
  overflow: hidden;
  -webkit-transition: max-height 0.8s linear;
  transition: max-height 0.8s linear;
}
@media screen and (min-width: 1199.98px) {
  .categories__item__content {
    position: absolute;
    max-height: 87px;
  }
}
@media screen and (min-width: 1400px) {
  .categories__item__content {
    padding: 38px 38px 38px 31px;
  }
}
.categories__item__content p {
  font-size: 0.875rem;
  padding-block: 1.125rem;
}
@media screen and (min-width: 768px) {
  .categories__item__content p {
    font-size: 1rem;
    padding-block: 1.25rem;
  }
}
@media screen and (min-width: 1400px) {
  .categories__item__content p {
    font-size: 1.25rem;
    padding-block: 1.75rem;
  }
}
.categories__item:hover .categories__item__content {
  -webkit-transition: max-height 2s;
  transition: max-height 2s;
  max-height: 100%;
}

@media screen and (max-width: 1199.98px) {
  .swiper-pagination .swiper-button-prev3 {
    top: 40%;
    left: -85px;
    position: absolute;
    z-index: 1;
  }
}
@media screen and (max-width: 1199.98px) and (min-width: 768px) {
  .swiper-pagination .swiper-button-prev3 {
    height: 38px;
    width: 50px;
    left: 0px;
  }
}
@media screen and (max-width: 1199.98px) and (min-width: 1450px) {
  .swiper-pagination .swiper-button-prev3 {
    height: 38px;
    width: 85px;
    left: auto;
    left: -85px;
  }
}
@media screen and (max-width: 1199.98px) {
  .swiper-pagination .swiper-button-prev3:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 38px;
    background-image: url(../../icons/arrow-left.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }
}
@media screen and (max-width: 1199.98px) and (min-width: 1450px) {
  .swiper-pagination .swiper-button-prev3:after {
    width: 100%;
  }
}
@media screen and (max-width: 1199.98px) {
  .swiper-pagination .swiper-button-next3 {
    top: 40%;
    right: -85px;
    position: absolute;
    z-index: 1;
  }
}
@media screen and (max-width: 1199.98px) and (min-width: 768px) {
  .swiper-pagination .swiper-button-next3 {
    height: 38px;
    width: 50px;
    right: 0px;
  }
}
@media screen and (max-width: 1199.98px) and (min-width: 1450px) {
  .swiper-pagination .swiper-button-next3 {
    height: 38px;
    width: 85px;
    right: auto;
    right: -85px;
  }
}
@media screen and (max-width: 1199.98px) {
  .swiper-pagination .swiper-button-next3:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 38px;
    background-image: url(../../icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
  }
}
@media screen and (max-width: 1199.98px) and (min-width: 1450px) {
  .swiper-pagination .swiper-button-next3:after {
    width: 100%;
  }
}
@-webkit-keyframes chaoticMove {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(50%, 30%);
            transform: translate(50%, 30%);
  }
  40% {
    -webkit-transform: translate(-30%, 60%);
            transform: translate(-30%, 60%);
  }
  60% {
    -webkit-transform: translate(20%, -50%);
            transform: translate(20%, -50%);
  }
  80% {
    -webkit-transform: translate(-60%, -30%);
            transform: translate(-60%, -30%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes chaoticMove {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(50%, 30%);
            transform: translate(50%, 30%);
  }
  40% {
    -webkit-transform: translate(-30%, 60%);
            transform: translate(-30%, 60%);
  }
  60% {
    -webkit-transform: translate(20%, -50%);
            transform: translate(20%, -50%);
  }
  80% {
    -webkit-transform: translate(-60%, -30%);
            transform: translate(-60%, -30%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.events {
  padding-block: 2.5rem;
}
@media screen and (min-width: 768px) {
  .events {
    padding-block: 4.375rem;
  }
}
.events__slider {
  margin: 0;
}
@media screen and (min-width: 500px) {
  .events__slider {
    margin: 0 68px;
  }
}
@media screen and (min-width: 768px) {
  .events__slider {
    margin-right: -20%;
  }
}
.events__slider .href-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 23px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.events__slider .href-link .text-span {
  width: 236px;
  padding: 0;
  font-size: 0.75rem;
  line-height: 1.3333333333;
}
@media screen and (min-width: 768px) {
  .events__slider .href-link .text-span {
    font-size: 0.875rem;
  }
}
.events__slider .href-link span img {
  width: 38px;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
@media screen and (min-width: 768px) {
  .events__slider .href-link span img {
    width: 58px;
  }
}
.events__slider .href-link:hover img {
  -webkit-transform: translateX(4px);
          transform: translateX(4px);
}
.events .swiper-container-events {
  margin: 1.875rem 0rem 4.375rem 0rem;
}
.events .swiper-container-events .swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 38px;
  z-index: 1;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}
@media screen and (min-width: 991.98px) {
  .events .swiper-container-events .swiper-pagination-bullets {
    display: none;
  }
}
.events .swiper-container-events .swiper-pagination-bullets .swiper-pagination-bullet {
  height: 11px;
  width: 11px;
  background-color: #ffffff;
  display: block;
  border-radius: 50%;
  margin: 0 6px;
  cursor: pointer;
}
.events .swiper-container-events .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  position: relative;
  background-color: #243230;
}
.events__content {
  padding: 18px;
}
@media screen and (min-width: 768px) {
  .events__content {
    padding: 24px;
  }
}
@media screen and (min-width: 1199px) {
  .events__content {
    padding: 24px 18px 30px 30px;
  }
}
.events__content h5 {
  font-size: 0.875rem;
  letter-spacing: 5px;
  margin: 0;
}
.events__content h6 {
  font-size: 1.125rem;
  margin: 12px 0 18px 0;
}
@media screen and (min-width: 991.98px) {
  .events__content h6 {
    font-size: 1.625rem;
    line-height: 1.75;
  }
}
@media screen and (min-width: 1199.98px) {
  .events__content h6 {
    font-size: 1.125rem;
    line-height: 1.5555555556;
    margin: 12px 0 18px 0;
  }
}
@media screen and (min-width: 1399.98px) {
  .events__content h6 {
    font-size: 1.5rem;
    line-height: 1.1666666667;
  }
}
.events__content p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1199.98px) {
  .swiper-pagination .swiper-button-prev3 {
    height: 40px;
    width: 40px;
    top: 40%;
    left: 0;
    position: absolute;
    border: 1px solid #cccccc;
    z-index: 1;
    border-radius: 50%;
    background: #243230;
  }
  .swiper-pagination .swiper-button-prev3:after {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    background-size: 60%;
    pointer-events: none;
  }
  .swiper-pagination .swiper-button-next3 {
    height: 40px;
    width: 40px;
    top: 40%;
    right: 0;
    position: absolute;
    z-index: 1;
    border: 1px solid #cccccc;
    background: #243230;
    border-radius: 50%;
  }
  .swiper-pagination .swiper-button-next3:after {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    background-size: 60%;
    pointer-events: none;
  }
  .swiper-pagination .swiper-button-disabled {
    cursor: no-drop;
  }
}
/*# sourceMappingURL=home.css.map */